body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: seashell;
    font-size: 22px;
    opacity: 0.9;
    margin: auto;
    text-align: center;
}

.header {
    width: 100%;
    background: black;
    display: block;
    position: fixed;
    height: 69px;
    border-bottom: 1px solid seashell;
    top: 0px;

}

.logo {
    height: 50px;
    padding-left: 10px;
    padding-top: 10px;
    float: left;
}

.navigation {
    float: right;
    height: 100%;
    margin: 0 auto;
    
}

.navigation a li {
    height: 100%;
    list-style-type: none;
    text-decoration: underline;
    padding: 15px 0px 10px 10px;
    color: seashell;
    display: inline-flex;
    float: inline-end;
    
}

.banner {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    max-width: 1200px;
    margin: auto;
    display: flex;

}

.banner-text {
    margin: auto;
    background-color: black;
    width: 100%;
    text-align: center;
    
    
}

.featured-text {
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: auto;

    
}

.item img {
    height: 200px;
    width: 300px;
    padding: 0px 10px;
    margin-bottom: 0;
    
}

.locations {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
    max-width: 1200px;
    height: 500px;
    background-position: center;
    margin: auto;
}

.text-top{
    padding: 50px 0px 0px 0px;
}

.cardcontainer{
    display: flex;
    justify-content: space-between;
    background-color: black;
    margin-top: 15px;
    
    
}

.card {
    max-height: 300px;
    max-width: 300px;
    padding: 15px 20px;
    margin-bottom: auto;
    box-sizing: border-box;
    text-align: center;
    opacity: 0.9;
    
    
    
}

.contact {
    max-height: 200px;
}

.copyright {
    text-align: left;
}